/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none; /* Tira as bolinhas das listas */
}

a {
  text-decoration: none; /* Tira as linhas dos links */
  color: black;
}

button {
  border: none;
  background-color: #0187a7;
  padding: 10px 15px;
  border-radius: 5px;
}

/* VARIABLES */
  
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 159;
  /*159*/
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* Media Queries */
  --title-font-size: 1.875rem;
  --p-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;
}
  
/* MOBILE */

header {
  background-color: #36bd6a;
  box-shadow: 0px 3px 10px #a09d9d;
}

.nav-bar {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 1.5rem 2rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 400;
}

.button-link,
.icon-menu {
  font-weight: 500;
  font-size: 1.6rem; 
}

.desktop-button,
.nav-list {
  display:none;
}

/* MEDIUM DESKTOP */


 @media(min-width:767px) and (max-width: 1199px) {

  .nav-bar {
    
  }
  
  .nav-list ul {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin: 0 15px;
    /* cima, direita, baixo, esquerda */
  }

  .button-link {
    font-size: 1.1rem;
  }
  
  .icon-menu {
    display:none;
  }
  
  .desktop-button
  .nav-list {
    display:block;
  }

} 